@page
@model IMS.RazorWebApp.Pages.Work_Result.CreateModel

@{
    ViewData["Title"] = "Create";
    var mentorList = ViewData["MentorId"] as SelectList;
    var internList = ViewData["InternId"] as SelectList;
    var taskList = ViewData["TaskId"] as SelectList;
}

<h1>Create</h1>

<h4>WorkingResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkingResult.CreatedBy" class="control-label"></label>
                <input asp-for="WorkingResult.CreatedBy" class="form-control" />
                <span asp-validation-for="WorkingResult.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingResult.Rating" class="control-label"></label>
                <input asp-for="WorkingResult.Rating" class="form-control" />
                <span asp-validation-for="WorkingResult.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingResult.Note" class="control-label"></label>
                <input asp-for="WorkingResult.Note" class="form-control" />
                <span asp-validation-for="WorkingResult.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingResult.Mentor" class="control-label"></label>
                <select asp-for="WorkingResult.MentorId" class ="form-control" asp-items="mentorList"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingResult.Task" class="control-label"></label>
                <select asp-for="WorkingResult.TaskId" class ="form-control" asp-items="taskList"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingResult.Intern" class="control-label"></label>
                <select asp-for="WorkingResult.InternId" class ="form-control" asp-items="internList"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
