@page
@model IMS.RazorWebApp.Pages.Mentors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mentor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mentor.FullName" class="control-label"></label>
                <input asp-for="Mentor.FullName" class="form-control" />
                <span asp-validation-for="Mentor.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Phone" class="control-label"></label>
                <input asp-for="Mentor.Phone" type="tel" class="form-control" />
                <span asp-validation-for="Mentor.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Email" class="control-label"></label>
                <input asp-for="Mentor.Email" type="email" class="form-control" />
                <span asp-validation-for="Mentor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.JobPosition" class="control-label"></label>
                <input asp-for="Mentor.JobPosition" class="form-control" />
                <span asp-validation-for="Mentor.JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Department" class="control-label"></label>
                <input asp-for="Mentor.Department" class="form-control" />
                <span asp-validation-for="Mentor.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.DateOfBirth" class="control-label"></label>
                <input asp-for="Mentor.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Mentor.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.LinkedinProfile" class="control-label"></label>
                <input asp-for="Mentor.LinkedinProfile" type="url" class="form-control" />
                <span asp-validation-for="Mentor.LinkedinProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.DateJoined" class="control-label"></label>
                <input asp-for="Mentor.DateJoined" type="date" class="form-control" />
                <span asp-validation-for="Mentor.DateJoined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Company" class="control-label">Company</label>
                <select asp-for="Mentor.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
