@page
@model IMS.RazorWebApp.Pages.Intern.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Intern</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Intern.University" class="control-label"></label>
                <input asp-for="Intern.University" class="form-control" />
                <span asp-validation-for="Intern.University" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern.Major" class="control-label"></label>
                <input asp-for="Intern.Major" class="form-control" />
                <span asp-validation-for="Intern.Major" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern.JobPosition" class="control-label"></label>
                <input asp-for="Intern.JobPosition" class="form-control" />
                <span asp-validation-for="Intern.JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern.EducationBackground" class="control-label"></label>
                <input asp-for="Intern.EducationBackground" class="form-control" />
                <span asp-validation-for="Intern.EducationBackground" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern.Experiences" class="control-label"></label>
                <input asp-for="Intern.Experiences" class="form-control" />
                <span asp-validation-for="Intern.Experiences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern.WorkingTasks" class="control-label"></label>
                <input asp-for="Intern.WorkingTasks" class="form-control" />
                <span asp-validation-for="Intern.WorkingTasks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern.MentorId" class="control-label"></label>
                <select asp-for="Intern.MentorId" class ="form-control" asp-items="ViewBag.MentorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Intern.Name" class="control-label"></label>
                <input asp-for="Intern.Name" class="form-control" />
                <span asp-validation-for="Intern.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
